@import "tailwindcss";

:root {
  --background: #09090b;
  --foreground: #fafafa;
}

html,
body {
  min-height: 100vh;
}

body {
  color: var(--foreground);
  background: var(--background);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px #18181b inset !important;
  -webkit-text-fill-color: #fafafa !important;
  transition: background-color 5000s ease-in-out 0s;
}
